<div>
    <label class="group-label">{{data.label}}</label>
    <div class="buttons-wrapper">
        <div *ngFor="let option of data.options" class="btn-group-item">
            <button [ngClass]="{'is-checked': isButtonChecked(option.value)}" mat-raised-button (click)="handleChange(option.value)">
                <img *ngIf="data.showImage && option.image" [src]="option.image" /> {{option.label}}
            </button>
        </div>
    </div>
</div>

<!-- <div *ngIf="data.multiple && !data.showImage">
    <label>{{data.label}}</label>
    <mat-button-toggle-group multiple>
        <mat-button-toggle *ngFor="let option of data.options" [value]="option.value" [checked]="isButtonChecked(option.value)" (change)="handleChange($event)">{{option.label}}
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div *ngIf="!data.multiple && !data.showImage">
    <label>{{data.label}}</label>
    <mat-button-toggle-group>

        <mat-button-toggle *ngFor="let option of data.options" [value]="option.value" [checked]="isButtonChecked(option.value)" (change)="handleChange($event)">{{option.label}}
        </mat-button-toggle>
    </mat-button-toggle-group>
</div> -->