<div>
    <mat-button-toggle-group *ngIf="data.multiple" multiple>
        <mat-button-toggle *ngFor="let option of data.options" [value]="option.value" (change)="handleChange($event)">
            {{option.label}}
        </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group *ngIf="!data.multiple">
        <mat-button-toggle *ngFor="let option of data.options" [value]="option.value" (change)="handleChange($event)">
            {{option.label}}
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
