:host {
  display: block;
  text-align: left;
  margin: 20px 0;

  .editor-wrapper {

    min-height: 500px;
    min-width: 1000px;

    .monaco-host {
        min-height: 500px;
        min-width: 1000px;
    }
  }
}
