<rg-map-editor
        (addBackground)="addBackground($event)"
        (removeBackground)="removeBackground()"
        (saveMapLocation)="saveMapLocation($event)"
        (deleteMapField)="deleteField($event)"
        (editField)="editField($event)"
        (toggleFieldEditor)="toggleFieldEditor($event)"
        (togglePathCreation)="togglePathCreationMode($event)"
        (selectField)="selectField($event)"
        (deselectField)="selectField($event)"
        (createPath)="createPath($event)"
        (deletePath)="deletePath($event)"
        (selectPath)="selectPath($event)"
        [canvasImage]="canvasImage | async"
        [fields]="fields | async"
        [mapLocations]="mapLocations | async"
        [mapPaths]="mapPaths | async"
        [showFieldEditor]="showFieldEditor | async"
        [selectedField]="selectedField | async"
        [pathCreationMode]="pathCreationMode | async"
        [selectedPath]="selectedPath | async"
        [lastInsertedField]="lastInsertedField | async"
></rg-map-editor>
