/deep/ {
  .mat-form-field {
    padding: 20px 0;
  }
  dropzone {
    max-width: 300px;
    .dz-progress {
      display: none;
    }
  }
  .buttons-toolbar {
    margin: 10px;
    width: 100%;
    text-align: center;
  }
}