@import '../../../../styles/colors';
:host {
    display: block;

    .img {
        max-width: 100%;
    }
    .title {
        margin: 0 0 15px 0;
        color: $text-alternate;
        text-align: center;
    }
    .back-btn {
        color: $text-alternate;
        display: block;
    }
}