<rg-smart-field-editor
        *ngIf="showEditor"
        (save)="handleHideEditor()"
        (cancel)="handleHideEditor()"
        [fieldCoord]="selectedCoord"
        [field]="selectedField"
>
</rg-smart-field-editor>

<div *ngIf="!showEditor" class="wrapper">

    <div *ngIf="data && data.length" class="remove-column-wrapper">
        <div class="remove-box" *ngFor="let cell of data[0];let cellIdx=index">
            <button mat-icon-button (click)="removeColumn.emit(cellIdx)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="data && data.length" class="remove-row-wrapper">
        <div class="remove-box" *ngFor="let row of data;let rowIdx=index">
            <button mat-icon-button (click)="removeRow.emit(rowIdx)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>

    <div class="grid-wrapper">
        <div *ngFor="let row of data;let x = index" class="row">
            <div *ngFor="let item of row;let y = index" class="cell">

                <rg-empty-item *ngIf="!item"
                               (create)="handleCreateClick($event)"
                               [coords]="{x: x, y: y}">

                </rg-empty-item>

                <rg-grid-field *ngIf="item"
                               [data]="item"
                               [coords]="{x: x, y: y}"
                               (remove)="removeField.emit($event)"
                               (edit)="handleEditClick($event)"
                               >
                </rg-grid-field>

            </div>
        </div>
    </div>

    <div class="add-column-wrapper">
        <button mat-icon-button (click)="addColumn.emit()">
            <mat-icon color="primary">add</mat-icon>
        </button>
    </div>

    <div class="add-row-wrapper">
        <button mat-icon-button (click)="addRow.emit()">
            <mat-icon color="primary">add</mat-icon>
        </button>
    </div>

</div>


