:host {
    margin-top: 30px;
    display: block;
    mat-card {
        .image {
            max-width: 100%;
        }

        .setups {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
        }
    }
}