<rg-lobby-list-layout *ngIf="game">

	<ng-scrollbar>
		<div class="list rg-container mat-elevation-z2" role="list">
			<ng-container *ngFor="let item of lobbies">
				<rg-lobby-list-item [game]="game" [lobby]="item"></rg-lobby-list-item>
			</ng-container>
		</div>
	</ng-scrollbar>


	<div class="create-btn" matTooltip="Create new game">
		<button mat-fab color="accent" (click)="createLobby.emit()">
			<mat-icon class="icon">add</mat-icon>
		</button>
	</div>

	<rg-overlay *ngIf="showForm">
		<rg-lobby-form #content></rg-lobby-form>
	</rg-overlay>


</rg-lobby-list-layout>