<article *ngIf="game" class="rg-container">
	<mat-card>
		<header>
			<h1>{{game.title}}</h1>
		</header>

		<mat-card-content>
			<div class="setups">
				<img class="image" [src]="game.image" />
				<div class="links">
					<ng-container *ngFor="let item of setups">
						<rg-setup-link [data]="item" [images]="images">
						</rg-setup-link>
					</ng-container>

				</div>
			</div>

			<div class="actions">
				<a [routerLink]="['/arena', game.id, 'menu']">
					<button mat-raised-button color="primary">
						<span>Play</span>
						<mat-icon class="icon">open_in_new</mat-icon>
					</button>
				</a>
			</div>


			<section class="description">
				{{game.description}}
			</section>
		</mat-card-content>

	</mat-card>
</article>