<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>Setups</span>
      <a routerLink="setups/add" mat-icon-button>
        <mat-icon>add</mat-icon>
      </a>
    </mat-panel-title>
  </mat-expansion-panel-header>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>Modules</span>
      <a routerLink="modules/add" mat-icon-button>
        <mat-icon>add</mat-icon>
      </a>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p *ngFor="let module of modules$ | async">
    <a [routerLink]="['modules', module.id]">{{module.name}}</a>
  </p>

</mat-expansion-panel>