@import '../../styles/colors';

:host {
    mat-sidenav {
        background: $primary;
    }

    .main {
        height: 100vh;
        overflow: auto;
    }

    ::ng-deep {
        mat-sidenav-content {
            overflow: hidden;
        }

        rg-entity-view,
        .wrapper,
        rg-entity-list,
        .cards-container {}

        rg-entity-editor {}

        .mat-drawer-inner-container {
            overflow: hidden;
        }
    }
}