<div class="wrapper">

    <rg-activities-list
            *ngIf="!showEditor"
            [items]="items"
            (editItem)="editItem.emit($event)"
            (removeItem)="removeItem.emit($event)"
    >
    </rg-activities-list>

    <div *ngIf="!showEditor" class="buttons-toolbar">
        <button mat-raised-button color="primary" class="create-new-btn" (click)="showActivityEditor()">
            <mat-icon>add</mat-icon>
            <span>Create new game action</span>
        </button>
    </div>

    <rg-activity-editor *ngIf="showEditor" [formDefinition]="formDefinition" [selectedItem]="selectedItem"
                        [resources]="resources"
                        (save)="saveItem.emit($event)"
                        (cancel)="hideActivityEditor()">
    </rg-activity-editor>
</div>