<div *ngIf="form" [formGroup]="form">

    <ng-container [ngSwitch]="data.type">

        <ng-container *ngSwitchCase="types.TEXT_INPUT">
            <rg-text-input [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-text-input>
        </ng-container>

        <ng-container *ngSwitchCase="types.BUTTON_GROUP">
            <rg-button-group [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-button-group>
        </ng-container>

        <ng-container *ngSwitchCase="types.NUMBER_INPUT">
            <rg-number-input [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-number-input>
        </ng-container>

        <ng-container *ngSwitchCase="types.DROPDOWN">
            <rg-dropdown [group]="group" [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-dropdown>
        </ng-container>

        <ng-container *ngSwitchCase="types.GROUP">
            <rg-form-array [form]="form" [data]="data"></rg-form-array>
        </ng-container>

        <ng-container *ngSwitchCase="types.IMAGE_PICKER">
            <rg-image-picker [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-image-picker>
        </ng-container>

        <ng-container *ngSwitchCase="types.TAGS_INPUT">
            <rg-tags-input [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-tags-input>
        </ng-container>

        <ng-container *ngSwitchCase="types.FILE_PICKER">
            <rg-file-picker [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-file-picker>
        </ng-container>

        <ng-container *ngSwitchCase="types.COLOR_PICKER">
            <rg-color-picker [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-color-picker>
        </ng-container>

        <ng-container *ngSwitchCase="types.CODE_EDITOR">
            <rg-code-editor [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-code-editor>
        </ng-container>

        <ng-container *ngSwitchDefault>
            Unknown element! ' {{data.type}} '
        </ng-container>

    </ng-container>
</div>