<div *ngIf="form" [formGroup]="form">

    <ng-container [ngSwitch]="data.controlType">

        <ng-container *ngSwitchCase="types.TEXT_INPUT">
            <rg-text-input [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-text-input>
        </ng-container>

        <ng-container *ngSwitchCase="types.IMAGE_BROWSER">
            <rg-image-browser [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-image-browser>
        </ng-container>

        <ng-container *ngSwitchCase="types.BUTTON_GROUP">
            <rg-button-group [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-button-group>
        </ng-container>

        <ng-container *ngSwitchCase="types.SLIDER">
            <rg-slider [data]="data" (change)="handleFieldChange($event)"></rg-slider>
        </ng-container>

        <ng-container *ngSwitchCase="types.SWITCH">
            <rg-switch [data]="data" (change)="handleFieldChange($event)"></rg-switch>
        </ng-container>

        <ng-container *ngSwitchCase="types.NUMBER_INPUT">
            <rg-number-input [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-number-input>
        </ng-container>

        <ng-container *ngSwitchCase="types.DROPDOWN">
            <rg-dropdown [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-dropdown>
        </ng-container>

        <ng-container *ngSwitchCase="types.FORM_ARRAY">
            <rg-form-array [form]="form" [data]="data"></rg-form-array>
        </ng-container>

        <ng-container *ngSwitchCase="types.IMAGE_PICKER">
            <rg-image-picker [form]="form" [data]="data" (change)="handleFieldChange($event)"></rg-image-picker>
        </ng-container>

    </ng-container>
</div>