<mat-vertical-stepper>

    <mat-step>
        <ng-template matStepLabel>Game activities</ng-template>
        <section>
            <rg-smart-activities></rg-smart-activities>
        </section>
        <!--<section>-->
            <!--<button mat-button matStepperPrevious>Back</button>-->
            <!--<button mat-button matStepperNext>Next</button>-->
        <!--</section>-->
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Factions</ng-template>
        <section>
            <rg-smart-factions>
                <!--<section>-->
                    <!--<button mat-raised-button matStepperPrevious>Back</button>-->
                    <!--<button mat-raised-button matStepperNext>Next</button>-->
                <!--</section>-->
            </rg-smart-factions>
        </section>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Fields</ng-template>
        <section>
            <rg-smart-fields></rg-smart-fields>
        </section>
        <!--<section>-->
            <!--<button mat-button matStepperPrevious>Back</button>-->
            <!--<button mat-button matStepperNext>Next</button>-->
        <!--</section>-->
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Resources</ng-template>
        <section>
            <rg-smart-resources>
                <!--<section>-->
                    <!--<button mat-raised-button matStepperPrevious>Back</button>-->
                    <!--<button mat-raised-button matStepperNext>Next</button>-->
                <!--</section>-->
            </rg-smart-resources>
        </section>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Game Settings</ng-template>
        <section>
            <rg-smart-general-settings></rg-smart-general-settings>
        </section>
        <!--<section>-->
            <!--<button mat-raised-button matStepperNext>Next</button>-->
        <!--</section>-->
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Trivia</ng-template>
        <section>
            <rg-smart-trivia></rg-smart-trivia>
        </section>
        <!--<section>-->
            <!--<button mat-button matStepperPrevious>Back</button>-->
            <!--<button mat-button matStepperNext>Next</button>-->
        <!--</section>-->
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Turn flow</ng-template>
        <section>
            <rg-turn-flow></rg-turn-flow>
        </section>
        <!--<section>-->
            <!--<button mat-button matStepperPrevious>Back</button>-->
            <!--<button mat-button matStepperNext>Next</button>-->
        <!--</section>-->
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Resolutions</ng-template>
        <!--<div>-->
            <!--<button mat-button matStepperPrevious>Back</button>-->
            <!--<button mat-button>Done</button>-->
        <!--</div>-->
    </mat-step>

</mat-vertical-stepper>