/deep/ {
  .mat-form-field {
    padding: 20px 0;
  }
  dropzone {
    max-width: 300px;
    .dz-progress {
      display: none;
    }
  }
  .buttons-toolbar {
    margin: 30px 0;
    width: 100%;
    text-align: center;
  }
  .cards-container {
    display: flex;
    .mat-card {
      max-width: 24%;
      margin-right: .5%;
    }
  }
  .dynamic-form {
    text-align: center;
  }

}