@import '../../../styles/colors';
:host {
    display: block;
    height: 100%;
    mat-sidenav {
        background: $primary;
    }
    .main {
        height: 100%;
    }
    ::ng-deep {
        mat-sidenav-content {
            overflow: hidden;
        }
        rg-entity-view,
        .wrapper,
        rg-entity-list,
        .cards-container {
            display: block;
            height: 100%;
        }
        rg-entity-editor {
            display: block;
            padding-bottom: 100px;
        }
        .mat-drawer-inner-container {
            overflow: hidden;
        }
    }
}