:host {
    display: block;
    height: 100%;
    mat-sidenav {
        background: whitesmoke;
    }

    .main {
        height: 100%;
    }

    /deep/ {
        mat-sidenav-content {
            overflow: hidden;
        }
        rg-entity-view, .wrapper, rg-entity-list, .cards-container, rg-entity-editor {
            display: block;
            height: 100%;
        }
    }
}