<rg-edit-header title="Entities" [showEditor]="showEditor" [saveEnabled]="saveEnabled" (add)="showItemEditor()"
	(cancel)="hideItemEditor()" (save)="handleSave()">
</rg-edit-header>

<ng-scrollbar [ngClass]="{'hidden': showEditor}">
	<rg-entity-list [template]="template" [items]="items" [connectedEntities]="connectedEntities"
		(editItem)="editItem.emit($event)" (removeItem)="removeItem.emit($event)">
	</rg-entity-list>
</ng-scrollbar>

<ng-scrollbar *ngIf="showEditor">
	<rg-entity-editor *ngIf="showEditor" [formDefinition]="formDefinition" [connectedEntities]="connectedEntities"
		[selectedItem]="selectedItem" (update)="handleDraftUpdate($event)">
	</rg-entity-editor>
</ng-scrollbar>