<div class="wrapper">

    <rg-resources-list *ngIf="!showEditor"
                       [items]="items"
                       (removeItem)="removeItem.emit($event)"
                       (editItem)="editItem.emit($event)"
    ></rg-resources-list>

    <div *ngIf="!showEditor" class="buttons-toolbar">
        <button mat-raised-button color="primary" class="create-new-btn" (click)="showItemEditor()">
            <mat-icon>add</mat-icon>
            <span>Create new resource</span>
        </button>
    </div>

    <rg-resource-editor
            *ngIf="showEditor"
            [formDefinition]="formDefinition"
            [selectedItem]="selectedItem"
            (save)="saveItem.emit($event)"
            (cancel)="hideItemEditor()"
    ></rg-resource-editor>
</div>