<div [ngClass]="{'hidden': hidden}">

    <rg-map-toolbar
            (addBackground)="addBackground.emit($event)"
            (removeBackground)="removeBackground.emit()"
            (addField)="handleAddField()"
            (enterPathCreationMode)="setPathCreation.emit(true)"
            (exitPathCreationMode)="setPathCreation.emit(false)"
            [pathCreationMode]="pathCreationMode"
    ></rg-map-toolbar>

    <div class="canvas-wrapper" #canvasWrapper tabindex="0">
    </div>

    <ng-container>

        <rg-map-field
                *ngFor="let field of fields"
                [data]="field"
                [mapLocation]="mapLocations[field.id]"
        >
        </rg-map-field>

    </ng-container>

    <ng-container>
        <rg-map-path
                *ngFor="let path of mapPaths"
                [data]="path"
                [mapLocations]="mapLocations"
        >
        </rg-map-path>
    </ng-container>
</div>
