<rg-fields
        [showFieldEditor]="showFieldEditor"
        [selectedField]="selectedField"
        [selectedPath]="selectedPath"
        [pathCreationMode]="pathCreationMode"
        [formDefinition]="formDefinition"
        [stage]="stage"
        [fields]="fields"
        [paths]="paths"
        [locations]="locations"
        [connectedEntities]="connectedEntities"
        (saveField)="saveField($event)"
        (editField)="editField($event)"
        (removeField)="removeField($event)"
        (selectField)="selectField($event)"
        (closeFieldEditor)="toggleFieldEditor(false)"
        (savePath)="savePath($event)"
        (removePath)="removePath($event)"
        (selectPath)="selectPath($event)"
        (saveMapLocation)="saveMapLocation($event)"
        (setPathCreation)="setPathCreation($event)"
        (saveMap)="updateStage($event)"
></rg-fields>