:host {
  max-width: 100%;
 .wrapper {
    
  max-height: 100%;
  overflow: hidden;
  position: relative;
  .title {
    position: absolute;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
  }
  .menu-button {
    position: absolute;
    z-index: 1;
    right: -15px;
    top: 0;
  }
  .image {
    max-width: 100%;
    opacity: .7;
  }
 }

 
}