<div class="wrapper" [title]="data.name">
  <h3 class="title">{{data.name}}</h3>

  <div class="menu-button">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <img class="image" [src]="data.image" />

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>zoom_in</mat-icon>
      <span>Details</span>
    </button>
    <button mat-menu-item (click)="handleEditClick()">
      <mat-icon>mode_edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="remove.emit(coords)">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </mat-menu>
</div>