<rg-image-picker *ngIf="!hasBackground" [data]="imagePickerConfig" (change)="addBackground.emit($event.image)">
    Add background
</rg-image-picker>

<button *ngIf="hasBackground" mat-button color="warn" (click)="removeBackground.emit()">Remove background</button>
<button mat-button color="primary" (click)="addField.emit()">Add field</button>

<button *ngIf="selectedField" mat-button color="primary" (click)="editField.emit(selectedField)">Edit field</button>

<button *ngIf="selectedField" mat-button color="warn" (click)="deleteField.emit(selectedField)">Remove field</button>

<button *ngIf="selectedPath" mat-button color="warn" (click)="deletePath.emit(selectedPath)">Delete path</button>

<button *ngIf="!pathCreationMode" mat-button (click)="enterPathCreationMode.emit()">Enter path creation mode</button>
<button *ngIf="pathCreationMode" mat-button (click)="exitPathCreationMode.emit()">Exit path creation mode</button>


