<rg-image-picker [data]="imagePickerConfig" (change)="addBackground.emit($event)">
    Add background image
</rg-image-picker>

<button mat-button color="warn" (click)="removeBackground.emit()">Remove background image</button>
<button mat-button color="primary" (click)="addField.emit()">Add field</button>

<button *ngIf="!pathCreationMode" mat-button (click)="enterPathCreationMode.emit()">Enter path creation mode</button>
<button *ngIf="pathCreationMode" mat-button (click)="exitPathCreationMode.emit()">Exit path creation mode</button>


