<div class="wrapper">

    <rg-factions-list *ngIf="!showEditor" [items]="items" (removeItem)="removeItem.emit($event)" (editItem)="editItem.emit($event)">
    </rg-factions-list>
    <div *ngIf="!showEditor" class="fab-create fab-right">
        <button mat-fab color="primary" class="create-new-btn" (click)="showItemEditor()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <rg-faction-editor *ngIf="showEditor" (cancel)="hideItemEditor()" (save)="saveItem.emit($event)" [selectedItem]="selectedItem"
        [connectedEntities]="connectedEntities" [formDefinition]="formDefinition"></rg-faction-editor>
</div>