<div class="wrapper">

    <rg-factions-list
            *ngIf="!showEditor"
            [items]="factions"
            (removeItem)="removeItem.emit($event)"
            (editItem)="editItem.emit($event)"
    >
    </rg-factions-list>

    <div *ngIf="!showEditor" class="buttons-toolbar">
        <button mat-raised-button color="primary" class="create-new-btn" (click)="showFactionEditor()">
            <mat-icon>add</mat-icon>
            <span>{{copy.CREATE_FACTION_BTN}}</span>
        </button>
    </div>

    <rg-faction-editor
            *ngIf="showEditor"
            (cancel)="hideFactionEditor()"
            (save)="saveItem.emit($event)"
            [selectedItem]="selectedItem"
            [resources]="resources"
            [formDefinition]="formDefinition"
    ></rg-faction-editor>
</div>
