<div class="wrapper">

    <rg-factions-list *ngIf="showEditor" [items]="factions"></rg-factions-list>

    <div *ngIf="showEditor" class="buttons-toolbar">
        <button mat-raised-button color="primary" class="create-new-btn" (click)="showFactionEditor()">
            <mat-icon>add</mat-icon>
            <span>{{copy.CREATE_FACTION_BTN}}</span>
        </button>
    </div>

    <rg-smart-faction-editor *ngIf="!showEditor" (save)="saveFaction()"
                             (cancel)="hideFactionEditor()"
    ></rg-smart-faction-editor>
</div>
