@mixin vertical-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-buttons-wrapper {
    @include vertical-align;
    margin-bottom: 3em;
    color: white;
    &>* {
        margin-top: 1.5rem;
        width: 300px;
    }
}

.email-wrapper {
    @include vertical-align;
    button {
        color: white;
    }
    &>* {
        width: 300px;
    }
}