@import 'colors.scss';

:host {
    mat-sidenav {
        background: $primary;
    }

    .main {
        height: 100vh;
        overflow: auto;
    }

    ::ng-deep {
        mat-sidenav-content {
            overflow: hidden;
        }

        .mat-drawer-inner-container {
            overflow: hidden;
        }
    }
}