<div>
    <a [routerLink]="['stages']">Stages</a>
</div>

<div>
    <a [routerLink]="['choices']">Choices</a>
</div>

<div>
    <a [routerLink]="['conditions']">Conditions</a>
</div>

<div>
    <a [routerLink]="['factions']">Factions</a>
</div>

<div>
    <a [routerLink]="['actions']">Actions</a>
</div>

<div>
    <a [routerLink]="['rounds']">Rounds</a>
</div>

<div>
    <a [routerLink]="['resources']">Resources</a>
</div>

<div>
    <a [routerLink]="['tokens']">Tokens</a>
</div>

<div>
    <a [routerLink]="['phases']">Phases</a>
</div>

<div>
    <a [routerLink]="['teams']">Teams</a>
</div>

<div>
    <a [routerLink]="['stacks']">Stacks</a>
</div>

<div>
    <a [routerLink]="['pools']">Pools</a>
</div>