<div>
    <a [routerLink]="['stages']">Stages</a>
</div>

<div>
    <a [routerLink]="['trivia']">Trivia</a>
</div>

<div>
    <a [routerLink]="['quests']">Quests</a>
</div>

<div>
    <a [routerLink]="['factions']">Factions</a>
</div>

<div>
    <a [routerLink]="['activities']">Activities</a>
</div>

<div>
    <a [routerLink]="['rounds']">Rounds</a>
</div>

<div>
    <a [routerLink]="['resources']">Resources</a>
</div>

<!-- <div>
    <a [routerLink]="['fields']">Fields</a>
</div> -->

<router-outlet></router-outlet>


<!--<mat-vertical-stepper>-->

<!--<mat-step>-->
<!--<ng-template matStepLabel>Rounds</ng-template>-->
<!--<section>-->
<!--<rg-smart-rounds></rg-smart-rounds>-->
<!--</section>-->
<!--</mat-step>-->

<!--<mat-step>-->
<!--<ng-template matStepLabel>Quests</ng-template>-->
<!--<section>-->
<!--<rg-smart-quests></rg-smart-quests>-->
<!--</section>-->
<!--</mat-step>-->

<!--<mat-step>-->
<!--<ng-template matStepLabel>Game activities</ng-template>-->
<!--<section>-->
<!--<rg-smart-activities></rg-smart-activities>-->
<!--</section>-->
<!--</mat-step>-->

<!--<mat-step>-->
<!--<ng-template matStepLabel>Fields</ng-template>-->
<!--<section>-->
<!--<rg-smart-fields></rg-smart-fields>-->
<!--</section>-->
<!--</mat-step>-->

<!--<mat-step>-->
<!--<ng-template matStepLabel>Resources</ng-template>-->
<!--<section>-->
<!--<rg-smart-resources></rg-smart-resources>-->
<!--</section>-->
<!--</mat-step>-->

<!--<mat-step>-->
<!--<ng-template matStepLabel>Factions</ng-template>-->
<!--<section>-->
<!--<rg-smart-factions></rg-smart-factions>-->
<!--</section>-->
<!--</mat-step>-->

<!--&lt;!&ndash;<mat-step>&ndash;&gt;-->
<!--&lt;!&ndash;<ng-template matStepLabel>Trivia</ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;<section>&ndash;&gt;-->
<!--&lt;!&ndash;<rg-smart-trivia></rg-smart-trivia>&ndash;&gt;-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-step>&ndash;&gt;-->

<!--</mat-vertical-stepper>-->