<mat-vertical-stepper>

    <mat-step>
        <ng-template matStepLabel>Rounds</ng-template>
        <section>
            <rg-smart-rounds></rg-smart-rounds>
        </section>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Quests</ng-template>
        <section>
            <rg-smart-quests></rg-smart-quests>
        </section>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Game activities</ng-template>
        <section>
            <rg-smart-activities></rg-smart-activities>
        </section>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Fields</ng-template>
        <section>
            <rg-smart-fields></rg-smart-fields>
        </section>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Resources</ng-template>
        <section>
            <rg-smart-resources></rg-smart-resources>
        </section>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Factions</ng-template>
        <section>
            <rg-smart-factions></rg-smart-factions>
        </section>
    </mat-step>

    <!--<mat-step>-->
    <!--<ng-template matStepLabel>Trivia</ng-template>-->
    <!--<section>-->
    <!--<rg-smart-trivia></rg-smart-trivia>-->
    <!--</section>-->
    <!--</mat-step>-->

</mat-vertical-stepper>