<mat-toolbar>

	<div *ngIf="!showEditor" class="links">
		<a class="home-link" routerLink="/">
			<button mat-button>Home</button>
		</a>
	</div>

	<h1 *ngIf="title" class="title">{{title}}</h1>

	<span class="spacer"></span>

	<section *ngIf="showButtons" class="buttons">
		<button *ngIf="!showEditor" mat-mini-fab color="primary" class="create-btn" (click)="add.emit()">
			<mat-icon>add</mat-icon>
		</button>

		<ng-container *ngIf="showEditor">

			<button [disabled]="!saveEnabled" mat-mini-fab color="primary" class="save-btn" (click)="save.emit()">
				<mat-icon>check</mat-icon>
			</button>

			<button mat-mini-fab color="primary" class="cancel-btn" (click)="cancel.emit()">
				<mat-icon>close</mat-icon>
			</button>

		</ng-container>
	</section>
</mat-toolbar>