<nav role="navigation">

	<rg-edit-sidebar-link [link]="composeLink('texts')">Texts</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('actions')">Actions</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('setups')">Setups</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('expressions')">Expressions</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('conditions')">Conditions</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('choices')">Choices</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('animations')">Animations</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('handlers')">Handlers</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('transitions')">Transitions</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('factions')">Factions</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('teams')">Teams</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('images')">Images</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('stages')">Stages</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('tokens')">Tokens</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('rounds')">Rounds</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('phases')">Phases</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('fields')">Fields</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('keywords')">Keywords</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('styles')">Styles</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('sounds')">Sounds</rg-edit-sidebar-link>
	<rg-edit-sidebar-link [link]="composeLink('states')">States</rg-edit-sidebar-link>
</nav>