@mixin undecorated-link {
  text-decoration: none;
  text-underline: none;
  color: currentColor;
}
/deep/ {
  . {
    height: 100%;
  }
}
.box {
  display: block;
  width: 200px;
  height: 170px;
}

.create-resource-btn {
  @include undecorated-link;
  &:active, &:visited, &:link {
    @include undecorated-link;
  }
}