<header>
	<h1 class="mat-title">New game</h1>
</header>

<form [formGroup]="form">

	<mat-form-field appearance="outline">
		<mat-label>Name:</mat-label>
		<input formControlName="name" matInput required />
		<mat-icon *ngIf="nameValid()" class="icon available" matSuffix>check</mat-icon>
		<mat-icon *ngIf="nameInvalid()" class="icon taken" matSuffix>warning</mat-icon>
		<mat-error *ngIf="nameInvalid()">Lobby name is taken</mat-error>
	</mat-form-field>

	<mat-button-toggle-group formControlName="mode">
		<mat-button-toggle value="public">Public</mat-button-toggle>
		<mat-button-toggle value="private">Private</mat-button-toggle>
	</mat-button-toggle-group>

	<mat-form-field appearance="outline">
		<mat-label>Password:</mat-label>
		<input matInput formControlName="password" />
	</mat-form-field>

</form>

<footer>
	<button [disabled]="!form.valid" mat-stroked-button (click)="create()">
		Create
	</button>
	<button mat-stroked-button (click)="cancel()">
		Cancel
	</button>
</footer>