<nav role="navigation">

	<rg-edit-sidebar-link link="../actions">Actions</rg-edit-sidebar-link>
	<rg-edit-sidebar-link link="../conditions">Conditions</rg-edit-sidebar-link>
	<rg-edit-sidebar-link link="../choices">Choices</rg-edit-sidebar-link>
	<rg-edit-sidebar-link link="../factions">Factions</rg-edit-sidebar-link>
	<rg-edit-sidebar-link link="../images">Images</rg-edit-sidebar-link>
	<rg-edit-sidebar-link link="../stages">Stages</rg-edit-sidebar-link>
	<rg-edit-sidebar-link link="../tokens">Tokens</rg-edit-sidebar-link>
	<rg-edit-sidebar-link link="../rounds">Rounds</rg-edit-sidebar-link>
	<rg-edit-sidebar-link link="../phases">Phases</rg-edit-sidebar-link>
	<rg-edit-sidebar-link link="../fields">Fields</rg-edit-sidebar-link>
	<rg-edit-sidebar-link link="../sources">Sources</rg-edit-sidebar-link>
	
</nav>