@import './colors';

:host {
  display: block;
  width: 150px;
  padding: 10px;

  .header {
    display: block;
    margin-bottom: 40px;

    .img {
      max-width: 100%;
    }

    .title {
      margin: 0 0 15px 0;
      color: $text-alternate;
      text-align: center;
    }

    .back-btn {
      color: $text-alternate;
      display: block;
    }
  }

  .nav {
    min-height: calc(100% + 150px);
    display: grid;
    grid-gap: 10px;
    text-align: center;
  }
}