<header *ngIf="game$ | async" class="header">

	<a class="back-btn" routerLink="/editor/games/list">
		<button mat-button>
			<mat-icon class="icon">arrow_back</mat-icon>
			<span>Back to games</span>
		</button>
	</a>


	<h1 class="title mat-headline">{{game.title}}</h1>

	<img class="img" alt="Game image" [src]="game.image" />
</header>

<nav class="nav">

	<a [routerLink]="composeLink('texts')">Texts</a>
	<a [routerLink]="composeLink('shapes')">Shapes</a>
	<a [routerLink]="composeLink('widgets')">Widgets</a>
	<a [routerLink]="composeLink('styles')">Styles</a>
	<a [routerLink]="composeLink('expressions')">Expressions</a>
	<a [routerLink]="composeLink('sandboxes')">Sandboxes</a>
	<a [routerLink]="composeLink('choices')">Choices</a>
	<a [routerLink]="composeLink('animations')">Animations</a>
	<a [routerLink]="composeLink('transitions')">Transitions</a>
	<a [routerLink]="composeLink('images')">Images</a>
	<a [routerLink]="composeLink('tokens')">Tokens</a>
	<a [routerLink]="composeLink('sonatas')">Sonatas</a>
	<a [routerLink]="composeLink('sounds')">Sounds</a>
</nav>