<div class="messages">
	<p *ngFor="let msg of messages" class="message">
		<span class="owner">{{msg.owner}}</span>
		<span class="time">{{msg.timestamp | date}}</span>
		<span class="text">{{msg.message}}</span>
	</p>
</div>

<form class="form">
	<mat-form-field appearance="fill" class="input">
		<mat-label>Type a message here</mat-label>
		<textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
			cdkAutosizeMaxRows="5" (keyup)="submit($event)" [(ngModel)]="content" name="content"></textarea>

		<button mat-icon-button matSuffix>
			<mat-icon>send</mat-icon>
		</button>
	</mat-form-field>

</form>