<article *ngIf="data?.lobby && data.setup && data.game" class="rg-container mat-elevation-z2">
	<mat-card>
		<header>
			<img [src]="data.game.image" />
			<section class="details">

				<div class="info">
					{{data.game.title}}

					<br>

					{{data.lobby.players.length}} / {{data.setup.min_players}}-{{data.setup.max_players}}
				</div>

				<div class="actions">
					<a [routerLink]="['../']">
						<button mat-stroked-button color="warn">Leave</button>
					</a>

					<a>
						<button mat-stroked-button color="primary">Start</button>
					</a>
				</div>
			</section>
		</header>
	</mat-card>
	a

	<div class="players mat-elevation-z2">
		<div *ngFor="let item of data.lobby.players" class="player">
			{{item.name}}

			<mat-form-field>
				<mat-label>Team</mat-label>
				<mat-select (valueChange)="onPlayerUpdate(item, {team: $event})"
					[disabled]="item.user !== this.data.user.id" [value]="item.team">
					<mat-option *ngFor="let team of data.teams" [value]="team.id">
						{{team.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Faction</mat-label>
				<mat-select (valueChange)="onPlayerUpdate(item, {faction: $event})"
					[disabled]="item.user !== this.data.user.id" [value]="item.faction">
					<mat-option *ngFor="let faction of data.factions" [value]="faction.id">
						{{faction.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<div>
				<button mat-stroked-button *ngIf="data.isOwner && item.user !== data.user.id"
					(click)="kickPlayer.emit(item)">
					Kick
				</button>
			</div>

		</div>
	</div>

	<mat-card class="chat">
		bla bla bla
	</mat-card>
</article>