@import '../../../../styles/_colors';
:host {
    .link {
        color: $text;
    }
    .actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        .create {
            grid-column: 2;
        }
    }
}