<div *ngIf="stage">
        <h1>Shape the game board</h1>

        <div>
                <button *ngIf="!asList" mat-button (click)="toggleListView.emit(true)">Switch to list View</button>
                <button *ngIf="asList" mat-button (click)="toggleListView.emit(false)">Back to map view</button>
        </div>

        <rg-entity-editor *ngIf="showFieldEditor" [formDefinition]="formDefinition" [selectedItem]="selectedField" [connectedEntities]="connectedEntities"
                (save)="saveField.emit($event)" (cancel)="toggleFieldEditor.emit(false)"></rg-entity-editor>

        <rg-entity-view [ngClass]="{'hidden': !asList || showFieldEditor}" [items]="fields" [selectedItem]="selectedField" (editItem)="editField.emit($event)"
                (removeItem)="removeField.emit($event)" (toggleEditor)="toggleFieldEditor.emit($event)"></rg-entity-view>

        <rg-map-editor 
                [fields]="fields" 
                [mapPaths]="paths" 
                [mapLocations]="locations" 
                [stage]="stage$ | async" 
                [hidden]="showFieldEditor || asList"
                [pathCreationMode]="pathCreationMode" 
                [selectedPath]="selectedPath" 
                [selectedField]="selectedField" 
                (saveMapLocation)="saveMapLocation.emit($event)"
                (selectField)="selectField.emit($event)" 
                (editField)="editField.emit($event)" 
                (deleteField)="removeField.emit($event)"
                (selectPath)="selectPath.emit($event)" 
                (createPath)="savePath.emit($event)" 
                (deletePath)="removePath.emit($event)"
                (setPathCreation)="setPathCreation.emit($event)" 
                (changeBackground)="saveMap.emit($event)"
                ></rg-map-editor>

</div>