<div *ngIf="stage">
    <h1>Shape the game board</h1>

    <rg-field-editor
            *ngIf="showFieldEditor"
            [formDefinition]="formDefinition"
            [selectedItem]="selectedField"
            [connectedEntities]="connectedEntities"
            (save)="saveField.emit($event)"
            (cancel)="closeFieldEditor.emit()"
    ></rg-field-editor>

    <rg-map-editor
            [fields]="fields"
            [mapPaths]="paths"
            [mapLocations]="locations"
            [stage]="stage"
            [hidden]="showFieldEditor"
            [pathCreationMode]="pathCreationMode"
            [selectedPath]="selectedPath"
            [selectedField]="selectedField"
            (saveMapLocation)="saveMapLocation.emit($event)"
            (selectField)="selectField.emit($event)"
            (editField)="editField.emit($event)"
            (deleteField)="removeField.emit($event)"
            (selectPath)="selectPath.emit($event)"
            (createPath)="savePath.emit($event)"
            (deletePath)="removePath.emit($event)"
            (setPathCreation)="setPathCreation.emit($event)"
            (changeBackground)="saveMap.emit($event)"
    ></rg-map-editor>

</div>
