<main>
  <rg-main-menu>
    <h1 class="heading">Radegast gaming</h1>

    <a routerLink="signin" *ngIf="!user" class="sign-in-btn"> <button mat-button>Sign In</button></a>

    <rg-profile-menu *ngIf="user"></rg-profile-menu>

  </rg-main-menu>

  <div class="options">
    <mat-card>
      <mat-icon>settings_input_component</mat-icon>
      <a routerLink="games/list">Edit games</a>
    </mat-card>

    <mat-card>
      <mat-icon>view_list</mat-icon>
      <a routerLink="catalog/games">Browse games</a>
    </mat-card>

  </div>

</main>