<div class="wrapper">

    <rg-quests-list
            *ngIf="!showEditor"
            [items]="items"
            (editItem)="editItem.emit($event)"
            (removeItem)="removeItem.emit($event)"
    >
    </rg-quests-list>

    <div *ngIf="!showEditor" class="buttons-toolbar">
        <button mat-raised-button color="primary" class="create-new-btn" (click)="showQuestEditor()">
            <mat-icon>add</mat-icon>
            <span>Create new quest</span>
        </button>
    </div>

    <rg-quest-editor *ngIf="showEditor" [formDefinition]="formDefinition" [selectedItem]="selectedItem"
                     [resources]="resources"
                     (save)="saveItem.emit($event)"
                     (cancel)="hideQuestEditor()">
    </rg-quest-editor>
</div>
