@import 'colors.scss';

:host {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(200px, 300px);
    grid-gap: 30px;
    padding: 30px;

    mat-card {
        .image {
            max-width: 100%;
        }
    }

    .details-link {
        color: $text-secondary;
    }
}