@import '../../../styles/_colors';

:host {
    display: none;
}

::ng-deep {
    .error-snackbar {
        background: $warn;
        color: $text-alternate;
    }
    .success-snackbar {
        background: lighten($primary, 15%);
        color: $text-alternate;
    }
}