/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app//styles/state.style.scss';
@import './app/styles/theme.scss';
@import './app/styles/breakpoints';
@import '~monaco-editor/min/vs/editor/editor.main';

.rg-container {
    display: block;
    max-width: 1024px;
    margin: 0 auto;

    @include phone {
        width: 96%;
    }
}

.spacer {
    flex-grow: 1;
}

.loader-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #0b0b0b;
    opacity: 0.5;
    z-index: 2;
}