<div class="form-array" [formGroup]="form">
    <label class="label">{{data.label}}</label>

    <div>
        <div *ngFor="let control of controls; let i = index" class="item-wrapper">
            <rg-nested-form *ngIf="control.controlType === controlTypes.NESTED_FORM" [group]="form.controls[data.name]" [form]="form"
                [data]="control" [index]="i" (change)="valueChange($event)"></rg-nested-form>

            <button mat-icon-button (click)="removeChild(i)" class="delete-btn" aria-label="Delete row">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>


    <div class="add-item-button">
        <button mat-button (click)="addChild()" aria-label="Add item">{{data.addButtonText}}</button>
    </div>

</div>