<div [formGroup]="form" [ngClass]="{'hidden': data.hidden}" tabindex="0">

  <label class="main-label">{{data.label}}</label>
  <mat-form-field class="demo-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of tags" selectable="true" removable="true" (removed)="onRemove(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="onAdd($event)"
      />
    </mat-chip-list>
  </mat-form-field>

</div>